body{
    background-color: #207a50;
}
header{
    
    /* background-color: black; */
    height: 20%;
    display: flex;
}
#heading-name{   
    font-size: 2rem;
    margin-top: 2%;
    font-weight: 900;
}
header span{
    color: white;
}
#alarm-image img{
    color: white;
    height: 100%;
    width: 100%;
}
#digital-time{
    color: azure;
    font-size: 7rem;
    font-weight: 900;
    margin-left: 12%;
}
#main{
    width: 70%;
    min-height: 100vh;
    background-color: #d5dce6;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
#set-alarm{
    margin-top: 5%;
    width: 100vw;
    font-size: 1.3rem;
    margin-left: -2%;
    height: 100vh;
}
#set-alarm form {
    margin-left: 13%;
    width: 100%;
}
#set-alarm form input{
    width: 5.5%;
}

#set-alarm button{
    margin-left: 30%;
    width: 10%;
    height: 8%;
    font-size: 1.5rem;
}

.box-settings{
    height: 5%;
    width: 5%;
}
.submit-button{
    background-color: #207a50;
    border: none;
    color: azure;
    width: 15%;
    height: 5%;
    margin-left: 5%;
}
.submit-button:hover{
    opacity: 0.9;
}
.all-alarms{
    margin-top: -50%;
    width: 80%;
    margin-left: 10%;
}
.all-alarms-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alarm-name{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4%;
}
#delete-all{
    background-color: #414d44;
    font-size: 1.5rem;
    font-size: bold;
    color: #dfe6e0;
}
#delete-all:hover{
    opacity: 0.8;
    font-weight: 500;
}
#print-box{
    margin-top: -1%;
    font-size: 1.5rem;
    width: 100%;
    
}